body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    padding: 0;
    text-align: justify;
    
}

header {
    background-color: hsl(300, 3%, 24%);
    color: #fff;
    padding: 10px 0;
    text-align: center;
    border-radius: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration:underline;

}

.minha-foto {
    float: right;
    width: 200px;
    height: auto;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 10%;
}

footer {
    text-align: left;
    font-size: smaller;
}

footer p {
    margin: 0;
}

footer em {
    font-style: italic;
}

#contato {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contato h2 {
    font-size: 24px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group textarea {
    resize: vertical;
}


button[type="submit"] {
    display: block;
    width: 10%;
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 30px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

footer {
    text-align: left;
    font-size: smaller;
    padding: 10px 0;
}

footer em {
    font-style: italic;
}